<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Afegir Usuari</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/llibres">Biblioteca

          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/prestecs">Prestecs

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuaris">Usuaris</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10 mt-5">
      <form action="/insertar/usuaris" method="post" th:object="${usuari}">
          <label for="dni" class="col-sm-4 col-form-label">DNI</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="dni" data-inputmask="'alias': 'dni'"
                   autocomplete="off" th:field="*{dni}"/>
          </div>
        <label for="nom" class="col-sm-4 col-form-label">Nom</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nom" data-inputmask="'alias': 'nom'"
                 autocomplete="off" th:field="*{nom}"/>
        </div>
        <label for="telefon" class="col-sm-4 col-form-label">Telefon</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="telefon" data-inputmask="'alias': 'telefon'"
                 autocomplete="off" th:field="*{telefon}"/>
        </div>
        <label for="correu" class="col-sm-4 col-form-label">Correu</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="correu" data-inputmask="'alias': 'correu'"
                 autocomplete="off" th:field="*{correu}"/>
        </div>

        <br>

        <button class="btn btn-primary" type="submit">Guardar</button>

      </form>
    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>